site_name: Анализ данных в Python

theme:
  name: material
  language: ru
  features:
    - navigation.tabs
    - content.code.copy

markdown_extensions:
  - pymdownx.highlight
  - pymdownx.superfences

plugins:
  - search
  - awesome-pages
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
          paths: [src]
  - jupyter:
      include_source: True
