site_name: Анализ Больших Данных в Python

theme:
  name: material
  language: ru
  features:
    - navigation.tabs
    - content.code.copy

extra_javascript:
  - javascripts/mathjax.js
  - https://polyfill.io/v3/polyfill.min.js?features=es6
  - https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js


markdown_extensions:
  - pymdownx.arithmatex:
      generic: true 
  - pymdownx.highlight
  - pymdownx.superfences

nav:
  - 'Главная': 'index.md'
  - 'Математика для анализа данных': 'math_for_data_analysis.md'
  - 'Лабораторные работы': '!include notebooks/mkdocs.yml'

plugins:
  - search
  - mkdocstrings:
      handlers:
        python:
          options:
            show_source: true
          paths: [src]
  - mkdocs-jupyter:
      include_source: True
  - monorepo
